<div class="my-3">
  <h3>Add a Task</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">ToDo Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="title" />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control" name="desc" [(ngModel)]="desc" />
    </div>

    <button type="submit" class="btn btn-sm btn-success">Submit</button>
  </form>
</div>
